* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(150, 141, 141, 1) 0%
  );
  margin: auto;
  width: 60%;
  padding: 0;
  font-family: Papyrus, fantasy;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

/* Shared Navbar */
header nav {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(47, 43, 43, 1) 0%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Shared Navbar color change on hover. */
header nav a:hover {
  background-color: rgb(119, 119, 119);
}

/* Main Content */
main {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(174, 175, 238) 0%,
    rgba(208, 208, 208, 1) 0%
  );
}

/* Footer Content */
footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(47, 43, 43, 1) 0%
  );
}

/* Shared Lists */
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
/* Shared Navbar List Elements  */
header li {
  float: left;
}
/* Shared Footer List Elements */
footer li {
  float: right;
}
/* Shared List Links */
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

/* Index "Home" Divs */
.div-index {
  background-image: url("Images/paintbrush.png");
  height: 500px;
}

h1 {
  padding: 5%;
  font-size: 40px;
}

/* Contact Page Divs */
.contact-div {
  margin: auto;
  width: 50%;

  padding: 10px;
}

/* Contact h1s */
.contact-h1 {
  padding-top: 5%;
  padding-bottom: 0;
}

/* Contact label */
label {
  display: block;
  font-weight: 700;
}

/* Contact Inputs */
.form-input {
  border: 2px solid #ccc;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400px;
  padding: 1em;
  margin-bottom: 1.5em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Contact Input Hover */
.form-input:focus {
  outline: none;
  border: 2px solid rgb(43, 99, 172);
}

/* Contact Button */
[type="submit"] {
  background-color: rgba(47, 43, 43, 1);
  color: white;
  padding: 10px;
  font-family: Papyrus, fantasy;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
}

/* Contact Button Hover */
[type="submit"]:hover {
  background: #041666;
}

/* Contact Text Box */
textarea {
  height: 150px;
  resize: vertical;
}

/* Contact Error */
.error {
  border-color: #c62828;
}

/* Contact Error Message */
.error-message {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #c62828;
}

/* About Me Header */
.h1-about {
  text-align: left;
  padding-top: 5%;
  padding-bottom: 1%;
}

/* About Me Divs */
.about-div {
  margin: auto;
  width: 75%;
  padding: 5px;
  overflow: hidden;
}
/* About Me "Bio" Paragraph Text */
.p-about {
  display: inline-block;
  margin: 5%;
}

/* Gallery - Forgot what this was but turned out to be unnecessary(?) */
.gallery-nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: auto;
  max-width: 100%;
}
/* Gallery "Secondary" Navbar List*/
.gallery-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* margin: 0; */
  /* padding: 0; */
  overflow: hidden;
  background-color: #333;
}
/* Gallery "Secondary" Navbar List Elements*/
.gallery-nav li {
  color: white;
  text-align: center;
}
/* Gallery "Secondary" Navbar List Buttons*/
.gallery-nav button {
  float: left;
  background-color: rgba(47, 43, 43, 1);
  color: white;
  padding: 25px 140px;
  display: inline-flex;
  font-family: Papyrus, fantasy;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  /* width: 100%; Left this here just in case */
  height: 100%;
  max-width: 100%;
}
/* Button changes color on hover. */
.gallery-nav button:hover {
  background-color: rgb(15, 15, 61);
}
/* For Gallery images. */
.row {
  display: flex;
}
/* For Gallery images. */
.column {
  flex: 33.33%;
  padding: 5px;
}

/* ------------------------------- */
